# environment
NODE_ENV=development

# auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001/api/v1/auth

# social auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# prod database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# local database
DB_FILE_NAME=file:local.db

# cron
CRON_SECRET=

# web-push
VAPID_SUBJECT=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# email
HOST=
AUTH_USER=
AUTH_PASSWORD=